# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ExerciseOne/.vs/ExerciseOne/FileContentIndex/3fafd29b-b4c6-4152-9aec-a4c7e1d79988.vsidx
ExerciseTwo/.vs/ExerciseTwo/FileContentIndex/b0ad66d2-4fa9-4f4d-983a-1ad4103cbfde.vsidx
